<%- include('includes/head.ejs') %>
</head>

<%- include('includes/nav.ejs') %>

<body>
    
    <h1>Server side error occured!</h1>
	<p>We are working on a fix</p>
	<p>Sorry for any inconvenience</p>
	
<%- include('includes/end.ejs') %>
